
@media screen and (max-width: 600px){
  #steps .row > .left,
  #steps .row > .central,
  #lezioni .row > .left, #lezioni .row > .right,
  #steps .row > .right{
    float: none;
    margin: auto;
    padding: 1%;
  }

  img{
    max-width: 100%;
  }

  .container{
    background-color: lightskyblue;
    border-radius: 10px;
  }
}
